<a href="https://colab.research.google.com/github/chenwh0/Big-Data-Model-management-project/blob/main/PreprocessingDataPhase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Extract all hashtags & URLs in tweets.json**
References
* https://www.datacamp.com/tutorial/pandas-iterate-over-rows

## **Installs & Imports**

In [2]:
!pip install pandas -q

In [3]:
import pandas

## **1. Load data**

In [4]:
FILE_PATH = r"C:\Users\Jack\Documents\School\cs8540 Project\Big-Data-Model-management-project\tweets.json"

In [5]:
raw_data = pandas.read_json(FILE_PATH, lines=True) # file contains many JSON objects, each new JSON object is on newline, so line=True
raw_data

,created_at,id,id_str,full_text,truncated,display_text_range,entities,metadata,source,in_reply_to_status_id,...,favorited,retweeted,lang,extended_entities,possibly_sensitive,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,withheld_in_countries
0,2023-02-20 15:25:20+00:00,1627690875253047296,1627690875253047296,@goddeketal @AlastairMcA30 The proponent of th...,False,"[27, 165]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/#!/download/ipad"" ...",1.627639e+18,...,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-02-20 15:25:20+00:00,1627690874544029698,1627690874544029698,@tvlofficiel Combien de soignants ont leur sch...,False,"[13, 96]","{'hashtags': [{'text': 'foutagedegueule', 'ind...","{'iso_language_code': 'fr', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",1.627673e+18,...,False,False,fr,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-02-20 15:25:19+00:00,1627690873361145856,1627690873361145856,一般的统计是大约 15% 的人因接种 COVID-19 疫苗而受伤\nThe general...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'zh', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,False,False,zh,"{'media': [{'id': 1627690543005179904, 'id_str...",0.0,NaN,NaN,NaN,NaN,NaN
3,2023-02-20 15:25:19+00:00,1627690872790986753,1627690872790986753,RT @JanJekielek: “There is more than enough ev...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,False,False,en,NaN,NaN,{'created_at': 'Mon Sep 26 19:25:35 +0000 2022...,NaN,NaN,NaN,NaN
4,2023-02-20 15:25:19+00:00,1627690872178450433,1627690872178450433,RT @matt7gh: 3/\n\nricordiamo come i giornali ...,False,"[0, 140]","{'hashtags': [{'text': 'mainstream', 'indices'...","{'iso_language_code': 'it', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,False,False,it,NaN,NaN,{'created_at': 'Mon Feb 20 13:40:01 +0000 2023...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59648,2023-02-20 11:32:52+00:00,1627632374879031296,1627632374879031296,"לחיסון מרבורג, למחנות הריכוז, שנבנו כעת להזרקה...",False,"[0, 255]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'iw', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",1.627632e+18,...,False,False,iw,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59649,2023-02-20 11:32:52+00:00,1627632374715412480,1627632374715412480,RT @JamesMelville: Bill Maher debunks the cras...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,False,False,en,NaN,NaN,{'created_at': 'Mon Feb 20 10:41:09 +0000 2023...,NaN,NaN,NaN,NaN
59650,2023-02-20 11:32:52+00:00,1627632374207979521,1627632374207979521,RT @1goodtern: I think:\na) there's a lot more...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,False,False,en,NaN,NaN,{'created_at': 'Sun Feb 19 21:09:53 +0000 2023...,NaN,NaN,NaN,NaN
59651,2023-02-20 11:32:52+00:00,1627632373180563462,1627632373180563462,@senatorbabet to not take them = 100% chance o...,False,"[14, 168]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",1.627568e+18,...,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59652,2023-02-20 11:32:52+00:00,1627632372089749504,1627632372089749504,"RT @kaneelkoffje: TikTok auf.\n\n""Hahahaha wir...",False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'de', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,False,de,NaN,NaN,{'created_at': 'Sun Feb 19 21:47:51 +0000 2023...,NaN,NaN,NaN,NaN

## **2. Extract only needed columns**

In [6]:
interested_data = raw_data[["entities"]]
interested_data

                                                entities
0      {'hashtags': [], 'symbols': [], 'user_mentions...
1      {'hashtags': [{'text': 'foutagedegueule', 'ind...
2      {'hashtags': [], 'symbols': [], 'user_mentions...
3      {'hashtags': [], 'symbols': [], 'user_mentions...
4      {'hashtags': [{'text': 'mainstream', 'indices'...
...                                                  ...
59648  {'hashtags': [], 'symbols': [], 'user_mentions...
59649  {'hashtags': [], 'symbols': [], 'user_mentions...
59650  {'hashtags': [], 'symbols': [], 'user_mentions...
59651  {'hashtags': [], 'symbols': [], 'user_mentions...
59652  {'hashtags': [], 'symbols': [], 'user_mentions...

[59653 rows x 1 columns]

## **3. Extract only hashtags & URLs**

In [7]:
hashtags = []
urls = []
for tweet in interested_data.itertuples():
    tweet_hashtags = []
    tweet_urls = []
    if tweet.entities["hashtags"] != []:
        for hashtag in tweet.entities["hashtags"]:
            tweet_hashtags.append(hashtag["text"])

    if tweet.entities["urls"] != []:
        for url in tweet.entities["urls"]:
            tweet_urls.append(url["url"])

    hashtags.append(tweet_hashtags)
    urls.append(tweet_urls)

In [8]:
final_data = interested_data.copy()
final_data["urls"] = urls
final_data["hashtags"] = hashtags
final_data

,entities,urls,hashtags
0,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]
1,"{'hashtags': [{'text': 'foutagedegueule', 'ind...",[],[foutagedegueule]
2,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]
3,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]
4,"{'hashtags': [{'text': 'mainstream', 'indices'...",[],"[mainstream, Covid, vaccini]"
...,...,...,...
59648,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]
59649,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]
59650,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]
59651,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]
59652,"{'hashtags': [], 'symbols': [], 'user_mentions...",[],[]

In [9]:
final_data.drop("entities", axis=1, inplace=True) # drop entities column
final_data

      urls                      hashtags
0       []                            []
1       []             [foutagedegueule]
2       []                            []
3       []                            []
4       []  [mainstream, Covid, vaccini]
...    ...                           ...
59648   []                            []
59649   []                            []
59650   []                            []
59651   []                            []
59652   []                            []

[59653 rows x 2 columns]

In [ ]:
import ast

#need to make everything into a list
def make_list(x):
    if(isinstance(x, str)):
        return ast.literal_eval(x)
    elif isinstance(x, list):
        return x
    else:
        return []
    
    
final_data["urls"] = final_data["urls"].apply(make_list)
final_data["hashtags"] = final_data["hashtags"].apply(make_list)

#remove empty lists
final_data = final_data[final_data["urls"].str.len() > 0]
final_data = final_data[final_data["hashtags"].str.len() > 0]

#need to join list with spaces
final_data["urls"] = final_data["urls"].apply(lambda x: ' '.join(x))
final_data["hashtags"] = final_data["hashtags"].apply(lambda x: ' '.join(x))

## **4. Store preprocessed data**

In [15]:
final_data.to_csv(r"C:\Users\Jack\Documents\School\cs8540 Project\Big-Data-Model-management-project\csv_version.csv", index=False) # Drop index columns

In [14]:
txt_path = r"C:\Users\Jack\Documents\School\cs8540 Project\Big-Data-Model-management-project\hashtags_and_urls_only_tweets.csv"
with open(txt_path, 'r', encoding='utf-8') as f:
    data = f.read()
data = data.replace(',', ' ')

with open(txt_path, 'w', encoding='utf-8') as f:
    f.write(data)